@import './mixins';

.btn {
  --btn-line-height: 27px;
  --btn-tablet-max-width: 600px;
  --btn-desktop-max-width: 324px;
  --btn-hover-btn-color: rgba(240, 241, 244, 1);
  --btn-active-bg-btn-color: rgba(17, 17, 17, 1);
  --btn-text-btn-color: rgba(255, 255, 255, 1);
  --btn-bg-color: rgba(41, 41, 41, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  margin: 0;
  width: 100%;
  height: var(--spacing-14);
  background-color: var(--btn-bg-color);
  border-radius: var(--spacing-2);
  padding-inline: var(--spacing-12);

  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  line-height: var(--btn-line-height);
  font-size: var(--fs-base-plus);
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: var(--btn-hover-btn-color);
    color: var(--btn-bg-color);
  }

  &:active {
    background-color: var(--btn-active-bg-btn-color);
    color: var(--btn-text-btn-color);
  }

  @include on-desktop {
    margin-left: 0;
  }
}
