@import './mixins';

.header {
  --max-tablet-header-width: 392px;
  --max-desktop-header-width: 392px;

  background-image: url('/src/images/header-bg.png');
  background-size: cover;
  background-position: center;

  &__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__bottom {
    margin: 0 var(--spacing-5) var(--spacing-10);
    display: flex;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      justify-content: left;
      max-width: var(--max-tablet-header-width);
    }

    @include on-desktop {
      font-size: var(--spacing-14);
      max-width: var(--max-desktop-header-width);
    }
  }

  &__title {
    margin: 0;
    line-height: 100%;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: var(--spacing-9);

    @include on-tablet {
      font-size: var(--spacing-12);
    }

    @include on-desktop {
      font-size: var(--spacing-14);
    }
  }
}
