.icon {
  --size-icon: var(--spacing-6);

  display: block;
  height: var(--size-icon);
  width: var(--size-icon);

  &--phone {
    background-image: url('../../src/images/icons/icon-phone.png');
  }

  &--menu {
    background-image: url('../../src/images/icons/burger-menu.png');

    &:hover {
      background-image: url('../../src/images/icons/Icon-menu-hover.png');
    }
  }

  &--close {
    background-image: url('../../src/images/icons/icon-close.png');
  }
}
