@import './mixins';

.main {
  background-color: var(--bg-color);

  &__content {
    display: grid;
    row-gap: var(--spacing-24);
    padding-block: var(--spacing-24);

    @include on-tablet {
      padding-block: var(--spacing-30);
      row-gap: var(--spacing-30);
    }
  }
}
