@import './mixins';

.main {
  background-color: var(--bg-color);
  padding: 40px 0;

  &__content {
    display: grid;
    row-gap: var(--spacing-12);

    @include on-tablet {
      padding: 80px 0;
      row-gap: var(--spacing-20);
    }

    @include on-desktop {
      padding: 120px 0;
      row-gap: var(--spacing-30);
    }
  }
}
