.nav__list {
--fs-nav-link: 22px;
--lh-nav-link: 22px;
--ls-nav-link: 2px;

  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: var(--spacing-8);
}

.nav__link {
  text-decoration: none;
  color: inherit;
  font-size: var(--fs-nav-link);
  line-height: var(--lh-nav-link);
  letter-spacing: var(--ls-nav-link);
}
