.page {
  font-family: "Space Grotesk", sans-serif;
  line-height: 140%;
  background-color: var(--bg-color);
  overflow-x: hidden;
  scroll-behavior: smooth;

  &__body {
    margin: 0;
  }

  &__menu {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    overflow: auto;

    &:target {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}

p {
  font-family: var(--main-regular);
  font-weight: 400;
  font-style: normal;
}
