@import './mixins';

.section-title {
  --max-section-title-width: 585px;

  max-width: var(--max-section-title-width);
  margin: 0;
  margin-bottom: var(--spacing-12);
  font-weight: 700;
  font-size: var(--spacing-8);
  line-height: var(--spacing-8);
  letter-spacing: var(--spacing-0-5);
  text-align: left;

  @include on-tablet {
    font-size: var(--spacing-10);
    margin-bottom: var(--spacing-16);
    line-height: var(--spacing-10);
  }

  @include on-desktop {
    font-size: var(--spacing-12);
    line-height: var(--spacing-12);
  }

  &--align--left {
    text-align: left;
  }
}
