@import './mixins';

.top-bar {
  padding-block: var(--spacing-6);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include on-tablet {
    padding-block: var(--spacing-16);
  }

  &__icons {
    display: flex;
    gap: var(--spacing-6);
    position: relative;
  }

  &__logo {
    height: var(--spacing-4);
    display: block;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: var(--spacing-6);
    }

    &--link {
      display: flex;

    }
  }
}
