:root{
// Colors
--main-color: rgba(41, 41, 41, 1);
--bg-color: rgba(255, 255, 255, 1);

// Font styles
--main-bold: "Space Grotesk", sans-serif;
--main-regular: "Space Mono", monospace;

// Effects
--transition-duration-fast: 0.2s;
--transition-duration-base: 0.4s;
--transition-duration-slow: 0.8s;
--transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
--effect-transition: var(--transition-duration-fast) var(--transition-timing-function);


// Font-sizes
--fs-extra-small: 8px;
--fs-small: 10px;
--fs-medium: 12px;
--fs-base: 14px;
--fs-base-plus: 16px;
--fs-big: 18px;
--fs-extra-big: 24px;

// Spacing
--spacing-0: 0;
--spacing-0-25: 1px;
--spacing-0-5: 2px;
--spacing-1: 4px;
--spacing-2: 8px;
--spacing-3: 12px;
--spacing-4: 16px;
--spacing-5: 20px;
--spacing-6: 24px;
--spacing-7: 28px;
--spacing-8: 32px;
--spacing-9: 36px;
--spacing-10: 40px;
--spacing-11: 44px;
--spacing-12: 48px;
--spacing-13: 52px;
--spacing-14: 56px;
--spacing-15: 60px;
--spacing-16: 64px;
--spacing-18: 72px;
--spacing-20: 80px;
--spacing-23: 92px;
--spacing-24: 96px;
--spacing-30: 120px;
--spacing-70: 280px;
--spacing-160-5: 642px;
}
